.searchBar {
    display: flex;
    align-items: revert;
    background-color: #e1c8f0;
    border: 1px solid #dbb4f1;
    padding: 5px 10px;
    gap: 20px
}
  
.searchInput {
    flex: auto;
    border: 5px;
    border-radius: 10px;
    font-family: monospace;
    font-size: x-large;
}
  
