.button {
    background-color: #a47abc;
    color: #fff;
    border: 2px solid #a663cc;
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
}

.button:hover {
    background-color: #503063;
} 