.form {
    height: 100%;
    padding: 15px 25%;
    background-image: url('../../img/videogames.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.container {
    box-shadow: 2px 8px 9px 4px rgba(0,0,0,0.74);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #e2c1f7;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.formContainer {
    padding: 15px 60px;
}

.input {
    flex: auto;
    border: 5px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 18px;
    border: 1px solid #000;
}

.buttonsContainer {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.danger {
    margin: 0;
    color: red
}